<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Lapel</title>
    <meta name="google-site-verification" content="v2Xg2jEZ7-AhgETeok7TsFzBP24ABc0tQbRUUdtDZdQ" />
    <meta name="description" content="The platform for men's styling, shopping, and curation.">
    <meta name="keywords" content="lapel,menswear,LA,los angeles,design yourself,lapel la, welcome to better,san francisco">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="96x96" href="{{STATIC_URL}}application/images/favicon-96x96.png">
	<meta itemprop="name" content="Lapel">
    <meta itemprop="description" content="The platform for men's styling, shopping, and curation.">
    <meta itemprop="url" content="http://lapel.co/">
    <meta itemprop="image" content="http://lapel/">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}application/css/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}application/css/swipebox.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}application/css/animate.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}application/css/hover-min.css" media="all">


	{% block header %}
		<title>Lapel</title>
	{% endblock header %}

	<!-- start Mixpanel -->
<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("9a7b84764e50f92e1978f2f89bf1e96e");
</script>
<!-- end Mixpanel -->
</head>

<body>
	{% block content %}
	{% endblock content %}

	{% block scripts %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="{{STATIC_URL}}application/js/main.js"></script>
		<script src="{{STATIC_URL}}application/js/retina.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}application/js/jquery.swipebox.min.js"></script>
		<!-- // <script type="text/javascript" src="{{STATIC_URL}}application/js/jquery.fullPage.min.js"></script> -->
		<script type="text/javascript" src="{{STATIC_URL}}application/js/wow.min.js"</script>

		<script type="text/javascript">
			$("window").load(function() {
			$("body").removeClass("preload");
			$(document).ready(function() {
				$('#fullpage').fullpage({
					navigation: true,
					navigationPosition: 'right',
					navigationTooltips: ['Main', 'Our Vision', 'Our Services', 'Lookbooks', 'Our Gentlemen', 'Join']
				});
			});
		</script>

		<!-- For Apply Modal -->
		<script type="text/javascript">
			$(document).ready(function() {
				var checkbox = document.getElementById('checkbox');
				var delivery_div = document.getElementById('delivery');
				var showHiddenDiv = function(){
				   if(checkbox.checked) {
				     delivery_div.style['display'] = 'block';
				   } else {
				     delivery_div.style['display'] = 'none';
				   }
				}
		checkbox.onclick = showHiddenDiv;
		showHiddenDiv();
		});
		</script>

		<!-- Bootstrap Tooltip -->
		<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
		</script>

		<script>
			new WOW().init();
		</script>

		<script>
			mixpanel.track('page viewed', {
			    'page name' : document.title,
			    'url' : window.location.pathname
			});
		</script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-60151425-1', 'auto');
			ga('send', 'pageview');
		</script>

		<script>
			$( '#urban' ).click( function( e ) {
				e.preventDefault();
				$.swipebox( [
					{ href:'{{STATIC_URL}}application/images/urban/pic1.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic2.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic3.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic4.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic5.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic6.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic7.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic8.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic9.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic10.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic12.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic13.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic14.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic15.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic16.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic17.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic18.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic19.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic20.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic21.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic22.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic23.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic24.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic25.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic26.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic27.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic28.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic29.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic30.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic31.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic32.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic33.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic34.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic35.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic36.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic37.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic38.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic39.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic40.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic41.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic42.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic43.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic44.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic45.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic46.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic47.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic48.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic49.jpg'},
					{ href:'{{STATIC_URL}}application/images/urban/pic50.jpg'},
				] );
			} );
		</script>

		<script>
			$( '#upscale' ).click( function( e ) {
				e.preventDefault();
				$.swipebox( [
					{ href:'{{STATIC_URL}}application/images/upscale/pic1.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic2.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic3.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic4.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic5.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic6.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic7.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic8.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic9.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic10.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic12.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic13.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic14.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic15.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic16.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic17.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic18.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic19.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic20.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic21.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic22.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic23.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic24.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic25.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic26.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic27.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic28.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic29.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic30.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic31.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic32.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic33.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic34.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic35.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic36.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic37.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic38.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic39.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic40.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic41.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic42.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic43.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic44.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic45.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic46.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic47.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic48.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic49.jpg'},
					{ href:'{{STATIC_URL}}application/images/upscale/pic50.jpg'},
				] );
			} );
		</script>

		<script>
			$( '#conservative' ).click( function( e ) {
				e.preventDefault();
				$.swipebox( [
					{ href:'{{STATIC_URL}}application/images/conservative/pic1.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic2.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic3.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic4.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic5.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic6.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic7.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic8.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic9.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic10.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic12.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic13.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic14.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic15.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic16.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic17.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic18.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic19.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic20.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic21.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic22.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic23.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic24.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic25.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic26.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic27.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic28.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic29.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic30.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic31.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic32.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic33.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic34.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic35.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic36.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic37.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic38.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic39.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic40.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic41.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic42.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic43.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic44.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic45.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic46.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic47.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic48.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic49.jpg'},
					{ href:'{{STATIC_URL}}application/images/conservative/pic50.jpg'},
				] );
			} );
		</script>

		<script>
			if (window.addEventListener) window.addEventListener('DOMMouseScroll', wheel, false);
			window.onmousewheel = document.onmousewheel = wheel;

			function wheel(event) {
			var delta = 0;
			if (event.wheelDelta) delta = event.wheelDelta / 120;
			else if (event.detail) delta = -event.detail / 3;

			handle(delta);
			if (event.preventDefault) event.preventDefault();
			event.returnValue = false;
			}

			function handle(delta) {
			var time = 200;
			var distance = 2500;

			$('html, body').stop().animate({
				scrollTop: $(window).scrollTop() - (distance * delta)
			}, time );
			}
		</script>
	{% endblock scripts %}
</body>
</html>
