#main-wrap {
    height: 100%;
}
#main-wrap div {
  position: relative;
  margin: auto;
  text-align: center;
  min-height: 100%!important;
}

#block-up-arrow, #block-down-arrow {
  cursor: pointer;
}
