@import url(http://fonts.googleapis.com/css?family=Raleway:200);
@import url(http://fonts.googleapis.com/css?family=Voces);

.logo-header img{
  margin: 0 auto;
}
.gentlemen-sec{
  text-align:center;
  height:100%;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  background-color:rgb(27,43,67);
}
.gent{
  background-color:rgb(27,43,67);
}
.gentlemen-title{
  margin-bottom:2%;
  color:white;
}
.gentlemen-title h1{
  font-family: 'Raleway' 'sans-serif';
  -webkit-font-smoothing: antialiased;
  font-size:50px;
  color:white;
  margin-top:2%;
}
.gentlemen img{
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
  border: white solid 1px;
  margin: 0 auto;
}
.gentlemen h1{
  font-family: 'Raleway' 'sans-serif';
  -webkit-font-smoothing: antialiased;
  font-size:30px;
  color:white;
}
.gentlemen h2{
  font-family: 'Raleway' 'sans-serif';
  -webkit-font-smoothing: antialiased;
  font-size:20px;
  padding-right:20px;
  padding-left:20px;
  color:white;
}
.jumbo{
background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../img/nyc.jpg");
background-size: cover;
padding-top: 120px;
}

.nav{
font-family: 'Raleway';
font-size: 16px;
line-height: 1.75em;
font-weight: bold;
color: white;
padding-top:65px;
}
.nav li{
display: inline;
list-style-type: none;
padding-right: 10px;
}
.nav a{
color:white;
}
.jumbo-text h1{
font-family: 'Raleway', sans-serif;
font-size: 60px;
font-weight:200;
color: white;
-webkit-font-smoothing: antialiased;
text-align: center;
}
.ops{
  height:100%
}
.how-we-do{
margin-bottom:2%;
}
.how-we-do h1{
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
text-align: center;
margin-top:5%;
margin-bottom:5%;
}
.how-we-do i{
color:rgba(51, 51, 51, 0.83);
text-align:center;
padding:40px;
}
.item-font{
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
font-size:28px;
text-align:center;
}
.item-desc{
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
font-size:20px;
text-align:center;
padding-right:50px;
padding-left:50px;
}
.oneway {
text-align:center;
margin-top:20px
}
.twoway {
text-align: center;
margin-top:20px
}
.threeway {
text-align:center;
margin-top:20px;
}
.oneway img{
  margin-bottom:20px;
  margin: 0 auto;
}
.twoway img{
  margin-bottom:20px;
  margin: 0 auto;
}
.threeway img{
  margin-bottom:20px;
  margin: 0 auto;
}
.oneway i{
  border-radius:180%;
  background-color:#000000;
  padding:50px;
  color:white;
  margin-bottom:20px;
}
.twoway i{
  border-radius:180%;
  background-color:#000000;
  padding:40px;
  color:white;
  margin-bottom:20px;
}

.lookbook{
  text-align:center;
  font-family: 'Raleway' 'sans-serif';
  -webkit-font-smoothing: antialiased;
  color:black;
  height:100%;
}
.lookbook h1{
  margin-top:200px;
  font-size:40px;
  color: white;
  background-color:rgba(0, 0, 0, 0.44);
}
.lookbook h2{
  font-size:40px;
}
.lookbook h3{
  margin-bottom:14px;
}
.lookbook .btn{
  background-color:rgba(255, 255, 255, 0.57);
  font-size:20px;
  margin-top:50px;
}
.lookbook-1{
  background-image: url("../img/upscale.jpg");
  background-size:cover;
  border-right:1px solid white;
  padding-bottom:350px;
  background-position:1px -106px;
}
.lookbook-2{
  background-image: url("../img/ucas.png");
  background-size:cover;
  border-right:1px solid white;
  padding-bottom:350px;
  background-position:-67px 1px;
}
.lookbook-3{
  background-image:url("../img/inst.png");
  background-size:cover;
  padding-bottom:350px;
  background-position:-115px 1px
}

.concierge{
background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../img/desk.jpg");
background-size:cover;
height:100%;
text-align:center;
border-bottom:2px solid white;
}
.concierge h1{
padding-top:50px;
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
font-size:50px;
text-align:center;
color:white;

}
.concierge h2{
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
font-size:40px;
text-align:center;
color:white;
padding-top:100px;
}
.concierge .btn{
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
background-color:#333;
color:white;
text-align:center;
font-weight:bold;
font-size:x-large;
margin-top:2%;
}
.launchpad-1{
text-align:center;
background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../img/hollywood.jpg");
padding-bottom:30%;
background-size:cover;
-webkit-filter: grayscale(0%);
border-right:1px solid white;
text-align:center;
background-position:-216px 1px;
}
.launchpad-2{
text-align:center;
background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../img/sfgate.jpg");
padding-bottom:30%;
background-size:cover;
-webkit-filter: grayscale(0%);
border-right:1px solid white;
}
.launchpad-3{
text-align:center;
background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../img/nyc.jpg");
padding-bottom:30%;
background-size:cover;
-webkit-filter: grayscale(0%);
background-position:-455px 1px;
}

.launchpad-4{
border-top: 1px solid white;
text-align:center;
background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../img/field.jpg");
padding-bottom:50px;
background-size:cover;
-webkit-filter: grayscale(0%);
background-position:1px;
}

.launchpad-1:hover{
-webkit-filter: grayscale(50%);
}
.launchpad-2:hover{
-webkit-filter: grayscale(50%);
}
.launchpad-3:hover{
-webkit-filter: grayscale(50%);
}
.launchpad-4:hover{
-webkit-filter: grayscale(50%);
}

.launchpad-1 h1{
color:white;
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
padding-top:20%;
}
.launchpad-2 h1{
color:white;
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
padding-top:20%;
}
.launchpad-3 h1{
color:white;
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
padding-top:20%;
}
.launchpad-4 h1{
color:white;
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
padding-top:5%;
}
.launch-title{
color:black;
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
text-align:center;
margin-top:5%;
margin-bottom:5%;
font-size:50px
}
.launch{
border-bottom:1px solid white;
}
.launch .btn{
  width:150px;
  height:40px;
  color:#333;
  background-color:rgba(255, 255, 255, 0.47);
  font-family: 'Raleway' 'sans-serif';
  -webkit-font-smoothing: antialiased;
  font-size:15px;
}
.footer{
background-color:#000000;
font-family: 'Raleway' 'sans-serif';
-webkit-font-smoothing: antialiased;
text-align:center;
color:white;
padding-bottom:20%;
}
.social{
padding-top:60px;
}
.social h1{
  font-size:20px;
}
.social a{
display:inline-block;
color:white;
padding-right:10px;

}
.stamp img{
text-align:center;
border-radius:100;
border:1px solid white;
}
.input-group .form-control{
margin-bottom:10px;
}
.modal-footer .btn-primary{
background-color:green;
}
.carousel{
  height:100%;
}
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 100%; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
    height: 100%;
}



/*full width container*/
/*
@media (max-width: 780px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
*/
.front-slide{
  height:100%;
}
.vision{
  background-color:rgb(103,39,57);
  height:100%;
  font-family: 'Raleway' 'sans-serif';
  -webkit-font-smoothing: antialiased;
  text-align:center;
  color:white;
}
.vis{
  background-color:rgb(103,39,57);
}
.vision h1{
  font-size:60px;
  margin-top:10%;
}
.vision h2{
  font-size:30px;
  margin-top:2%;
}
.vision h3{
  font-size:30px;
  margin-top:2%;
  margin-bottom:2%;
}
.vision img{
  margin: 0 auto;
  height:200px;
  width:200px;
}

@media (max-width: 780px) {
  .gentlemen-title h1{
    font-size:30px;
  }
  .gentlemen-title{
    margin-bottom:0px;
  }
  .gentlemen img{
    width:120px;
    height:120px;
    margin: 0 auto;
  }
  .gentlemen h1{
    font-size:20px;
  }
  .gentlemen h2{
    text-align:center;
    font-size:15px;
    padding-right:0px;
    padding-left:0px;
  }
}

@media (max-width: 780px) {
  .item-desc{
  text-align:center;
  padding-right:0px;
  padding-left:0px;
  }
  .how-we-do{
  margin-top:0px;
  margin-bottom:0px;
  }
  .how-we-do h1{
  font-family: 'Raleway' 'sans-serif';
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top:0px;
  margin-bottom:0px;
  }
  .oneway img{
    width:120px;
    height:120px;
    margin: 0 auto;
  }
  .twoway img{
    width:120px;
    height:120px;
    margin: 0 auto;
  }
  .threeway img{
    width:120px;
    height:120px;
    margin: 0 auto;
  }
  .item-font{
    font-size:15px;
  }
  .item-desc{
    font-size: 12px;
    padding-left:98px;
    padding-right:0px;
  }
}

@media (max-width: 780px) {
  .lookbook h1{
    margin-top:0px;
    font-size:20px;
    color: white;
    background-color:rgba(0, 0, 0, 0.44);
  }
  .lookbook h2{
    font-size:20px;
  }
  .lookbook h3{
    margin-bottom:1%;
    font-size:20px;
  }
  .lookbook-1{
    background-image: url("../img/upscale.jpg");
    background-size:cover;
    padding-bottom:20%;
    background-position:0px -170px
  }
  .lookbook-2{
    background-image: url("../img/ucas.png");
    background-size:cover;
    padding-bottom:20%;
    background-position:0px 0px
  }
  .lookbook-3{
    background-image:url("../img/inst.png");
    background-size:cover;
    padding-bottom:20%;
    background-position:0px 0px
  }
}

@media (max-width: 780px) {
.launchpad-1 h1{
  padding-top:2%;
}
.launchpad-2 h1{
  padding-top:2%;
}
.launchpad-3 h1{
  padding-top:2%;
}
.launchpad-1{
text-align:center;
padding-bottom:12%;
background-size:cover;
text-align:center;
border-bottom:1px solid white;
background-position:0px 0px;
}
.launchpad-2{
text-align:center;
padding-bottom:12%;
background-size:cover;
border-bottom: 1px solid white;
background-position:0px 0px;
}
.launchpad-3{
text-align:center;
padding-bottom:12%;
background-size:cover;
border-bottom: 1px solid white;
border-top: 1px solid white;
background-position:0px 0px;
 }
}

@media (max-width: 780px) {
.footer{
  padding-bottom:0%;
  }
.nav{
  padding-top:0%;
}
.social{
padding-top:2%;
}
}
/*

@media (max-width: 767px) {
    .carousel {
      height:auto;
      width:auto;
    }
}

@media (max-width: 767px){
.carousel .item {
    width: auto;
    max-height: auto;
  }
}

@media (max-width: 767px){
.carousel .item img {
    width: auto;
    height: auto;
  }
}*/
