@import url(https://fonts.googleapis.com/css?family=Raleway:500,200);

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
html {
	height:100%;
}
/* Buttons */
.btn {
	background:rgba(0, 0, 0, 0.22);
	border: solid 2px #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	font-weight: 500;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    border: none;
	background:rgba(0, 0, 0, 0.55);
	color: #fff;
}

/* ANIMATION */
.delay {
	-webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
	animation-delay: .5s;
}
.delay-1 {
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
	animation-delay: 1s;
}
.delay-2 {
	-webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
	animation-delay: 1.5s;
}
.delay-3 {
	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
	animation-delay: 2s;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* Base */
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 1em;
	height: 100%;
}
.main {
	height: 100%;
}

h1, h2 {
	text-transform: uppercase;
	letter-spacing: 6px;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 4px;
}
h4 {
	font-size: 1.25em;
	line-height: 130%;
}
.heading{
    margin-top: 50px;
}
@media screen and (min-width:441px){
	.hide-lg {
		display: none;
	}
}

/* MOBILE BASE */
@media screen and (max-width:440px) {
	.hide-sm {
		display: none;
	}
	.heading{
	    margin-top: 0;
		padding-top: 5%;
	}
	h2 {
		font-size: 1.3em;
		line-height: 1.15em;
	}
	h4 {
		font-size: 1em;
		line-height: 1.25em;
	}
}

/* HEADER */
#header {
    background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../images/desk.jpg");
    background-size:cover;
    height:100%;
    text-align:center;
    border-bottom:2px solid white;
    color: #fff;
}
#logo-header{
	margin: 0 auto;
	position: relative;
	left: 3%;
    max-width: 40%;
}
#tagline{
	font-size: 1.2em;
	letter-spacing: 3px;
	font-weight: 500;
	margin-top: -50px;
}
.btn-top {
	margin: 20px 7px 10px 7px;
    width: 100px;
}
@media screen and (max-width:440px) {
	#logo-header{
	    margin: 10% auto 0 auto;
	    max-width: 80%;
	}
	#header {
		margin-bottom: 0;
	}
}

/* VISION */
#vision {
    background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../images/vision.jpg");
	background-size: cover;
	background-position: bottom;
	height:100%;
    -webkit-font-smoothing: antialiased;
    text-align:center;
    color:white;
}
#vision-heading {
    margin-top:30%;
	margin-bottom: 30px;
}
#vision h2 h4 {
    margin-top:2%;
    margin-bottom:2%;
    font-weight: 400;
}
#vision h3 {
	text-transform: none;
}
#vision-button {
	position: relative;
	left: 70%;
	bottom: 10%;
	height: 0;
	padding-bottom: 25%;
	width: 25%;
	background-image: url("../images/circle.svg");
	opacity: .8;
	background-size: 90%;
	background-repeat: no-repeat;
}
#but-1 {
	position: absolute;
	top: 15%;
	left: 36%;
}
#but-2 {
	position: absolute;
	top: 55%;
	left: 36%;
}
#but-3 {
	position: absolute;
	top: 35%;
	left: 16%;
}
#but-4 {
	position: absolute;
	top: 35%;
	left: 56%;
}
.button-detail .btn {
    border-radius: 50%;
	overflow: hidden;
	height: 100%;
	padding-bottom: 50%;
	width: 100%;
	background: #34495e;
	color: #fff;
	border: #34495e;
	display: table-cell;
  	vertical-align: middle;
}
#online {
	width: 110%;
}
#time {
	width: 105%;
}
#miles {
	width: 110%;
}
#return {
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: #fff;
 	border-width: 5px 5px 0;
}
#vision .tooltip-inner {
	color: #000;
	background: #fff;
	border: solid 1px #fff;
	width: 300%;
	font-size: 1.25em;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	padding: 10%;
}


@media screen and (max-width:440px) {
	#vision {
		background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../images/vision-mobile.jpg");
		background-size:cover;
		text-align: left;
	}
	#vision .text {
		margin-left: 10px;
	}
	#vision h2 h3 {
		padding-top: 5%;
		max-width: 80%;
		margin-left: 10px;
	}
	#vision .fp-tableCell {
		vertical-align: top;
	}
	#vision h3 {
		font-size: 1em;
	}
}

/* LOOKBOOK */
#lookbook {
    -webkit-font-smoothing: antialiased;
    height:100%;
}
.lookbook-item {
    border-right:1px solid white;
    background-size: cover;
    height: 100%;
}
#lookbook h3 {
    font-size:30px;
    margin-top:80%;
    background-color:rgba(0, 0, 0, 0.33);
    color: #fff;
	text-transform: uppercase;
	letter-spacing: 6px;
}
#lookbook .btn{
    font-size:20px;
    margin-top:50px;
	background:rgba(0, 0, 0, 0.22);
}
#lookbook-1{
    background-image: url("../images/upscale.jpg");
}
#lookbook-2{
    background-image: url("../images/ucas.png");
}
#lookbook-3{
    background-image: url("../images/inst.png");
}
@media screen and (max-width:440px) {
	#lookbook h3 {
	    font-size:1.1em;
	    margin-top:0;
	}
	#lookbook .btn{
		margin-top: 20%;
		font-size: 1.1em;
	}
	#lookbook-1 {
		background-size:cover;
	}
	#lookbook-2 {
		background-size:cover;
	}
	#lookbook-3 {
		background-size:cover;
	}
	.lookbook-item {
		height: 33.3%;
	}
}

/* SERVICE */
#service {
    background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../images/services.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
	color: #fff;
}
#service .heading {
	margin-top: 100px;
}
.service-item img {
    width:160px;
    height:160px;
    margin: 20% auto 50px auto;
	opacity: .8;
}
#service h3 {
	font-weight: 500;
	font-size: 1.3em;
}
#service p {
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
	line-height: 130%;
	max-width: 80%;
	margin: 20px auto 20px auto;
}
#service .tooltip-inner {
	color: #000;
	background: #fff;
	border: solid 1px #fff;
	width: 400%;
	font-size: 1.25em;
	text-transform: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	padding: 10%;
}
@media screen and (max-width:440px) {
	#service {
		height: 100%;
		background-size: cover;
	}
	#service .heading {
		margin-top: 5px;
	}
	#service h2 {
		margin-top: 5px;
		font-size: 1.25em;
	}
	#service h3 {
		font-size: 1em;
	}
	.service-item img {
		width:25%;
		height:25%;
		margin: 2% auto 1% auto;
	}
}

/* GENTLEMEN */
#gentlemen {
    background-image: url("../images/linen.jpg");
	background-size: cover;
    color: #fff;
    height:100%;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-font-smoothing: antialiased;
	font-weight: 200;
}
#gentlemen img{
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
    border: white solid 1px;
    margin: 0 auto;
	opacity: .9;
	width: 200px;
}
#gentlemen hr {
	color: #fff;
    border: 0;
    height: 1px;
	width: 50%;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}
.gent-item {
	margin: 5% auto 0 auto;
}
#gentlemen h3 {
	margin: 20px 0 20px 0;
	font-weight: 500;
}
#gentlemen p {
	width: 80%;
	margin: 0 auto;
	line-height: 130%;
	text-align: justify;
}
.btn-test {
	margin-top: 60px;
}
@media screen and (max-width:440px) {
	.gent-item {
		margin: 0;
	}
	#gentlemen h2 {
		font-size: 1.5em;
		margin-top: -5px;
	}
	#gentlemen h3 {
		margin: 0 auto;
		font-size: 1em;
	}
	#gentlemen p {
		width: 100%;
		margin: 0 auto;
		line-height: 130%;
	}
	#gentlemen img {
		width:20%;
		height:20%;
		margin: 3% auto 1% auto;
	}
	.btn-test {
		margin: 0 auto;
		position: relative;
		bottom: 3%;
	}
}

/* LAUNCH */
#launch{
    border-bottom:1px solid white;
	color: #fff;
	height: 90%;
}
#launch h2{
	font-size: 1.75em;
    -webkit-font-smoothing: antialiased;
    margin-top:30%;
}
#launch .btn{
	margin-top:20px;
    width:150px;
    height:40px;
    background:0.2;
    -webkit-font-smoothing: antialiased;
    font-size:14px;
	border: none;
}
#launch h3 {
	font-weight: 500;
}
.launchpad-1{
    background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../images/hollywood.jpg");
    background-size:cover;
    -webkit-filter: grayscale(0%);
    border-right:1px solid white;
    background-position:-216px 1px;
	height: 100%;
}
.launchpad-2{
    background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../images/sfgate.jpg");
    background-size:cover;
    -webkit-filter: grayscale(0%);
    border-right:1px solid white;
	height: 100%;
}
.launchpad-3{
    background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("../images/nyc.jpg");
    background-size:cover;
    -webkit-filter: grayscale(0%);
    background-position:-455px 1px;
	height: 100%;
}
.launchpad-1:hover{
    -webkit-filter: grayscale(50%);
}
.launchpad-2:hover{
    -webkit-filter: grayscale(50%);
}
.launchpad-3:hover{
    -webkit-filter: grayscale(50%);
}
.launchpad-4:hover{
    -webkit-filter: grayscale(50%);
}
/* Apply Modal */
#checkbox {
	float: left;
}
#checkbox-label {
	margin-top: 2%;
	margin-left: 5%;
}
#apply .modal-footer .btn {
	float: left;
}
#apply .modal-dialog  {
	width:30%;
}

@media screen and (max-width:440px) {
	.launch-item {
		height: 30%;
	}
	#launch h2 {
		font-size: 1.25em;
	    -webkit-font-smoothing: antialiased;
	    margin-top:0;
		padding-top: 20px;
	}
	#apply .modal-dialog  {
		width:90%;
	}
}

/* FOOTER */
#footer{
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    color: black;
    margin-top: 0;
	padding-bottom: 0;
	height: 5%;
}
#footer-logo img {
	height: auto;
	width: 30%;
}
.social{
    padding-top:3%;
}
.social h1{
    font-size:1.5em;
}
.social a{
    display:inline-block;
    color:black;
    padding-right:2%;
}
.social i{
    color:black;
}
.stamp img{
    text-align:center;
    border-radius:100;
    border:1px solid white;
}
.input-group .form-control{
    margin-bottom:10px;
}
.modal-footer .btn-primary{
    background-color:green;
}

.nav{
    font-size: 1.25empx;
    line-height: 1.5em;
    font-weight: 200;
    color: black;
    padding-top:10%;
}
.nav li{
    display: inline;
    list-style-type: none;
    padding-right: 1%;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.nav a{
    color:black !important;
    text-decoration:none !important;
}
.jumbo-text h1{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight:200;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.ops{
    height:100%
}
@media screen and (max-width:440px) {
	#footer-logo {
		margin: -50px 230px auto auto;
	}
	#footer-logo img {
		width: 80px;
		height: auto;
	}
	.social{
	    padding-top:0px;
		font-size: .5em;
		margin: 0 auto 0 200px;
	}
}

/***** MODAL *****/
.modal img {
	margin: 30px auto;
}
.modal-mobile h2 {
	font-size: 1.25em;
	margin: 10px auto;
}
.modal-mobile h4 {
	font-size: 1em;
	margin-bottom: 40px;
}
.btn-modal {
	background: #fff;
	border: none;
	color: black;
	font-weight: normal;
	font-weight: 400;
}
.btn-modal:hover,
.btn-modal:focus,
.btn-modal:active,
.btn-modal.active {
	border: none;
	background:#fff;
	color: #555;
}

@media screen and (max-width: 540px) {
}

@media screen and (max-width:440px) {
}
