{% extends "base.html" %}
{% block content %}

    <div id="fullpage" class="main">
        <div id="header" class="row section">
            <div id="delay-fade" class="col-md-12 animated fadeIn text-center">
                <img id="logo-header" class="header img-responsive" src="{{STATIC_URL}}application/images/lapel_white.png"/>
                <h2 id="tagline">Welcome to better</h2>
                <a href="#launch"><button type="button" class="btn btn-top">Join</button></a>
                <!-- <a href="#"><button type="button" class="btn btn-top">Log In</button></a> -->
            </div>
        </div>

        <div id="vision" class="row section">
        	<div class="col-md-5">
        		<h2 id="vision-heading">Shopping sucks</h2>
        		<h4>Lapel is <i>the</i> new procurement platform for menswear,<br>
        		built around gentlemen's preferences everywhere.</h4>
        	</div>
        </div>

        <div id="service" class="row section text-center">
        	<div class="col-md-12 heading">
        		<h2>Anything from anywhere</h2>
        	</div>
        	<div class="service-item col-md-4">
        		<img class="img-responsive hide-sm"  src="{{STATIC_URL}}application/images/closet.png"/>
        		<img class="img-responsive hide-lg modal-img" data-toggle="modal" data-target="#wardrobe" src="{{STATIC_URL}}application/images/closet.png"/>
        		<h3>Wardrobe Construction</h3>
        		<p class="hide-sm">Built around you and your lifestyle, we'll build or polish your entire closet.</p>
        	</div>
        	<div class="service-item col-md-4">
        		<img class="img-responsive hide-sm" src="{{STATIC_URL}}application/images/calendar.png"/>
        		<img class="img-responsive hide-lg" data-toggle="modal" data-target="#refillable" src="{{STATIC_URL}}application/images/calendar.png"/>
        		<h3>Refillables</h3>
        		<p class="hide-sm">The morning routine is rough. We make it easier by delivering you all of your personal care items in one box, on your schedule.</p>
        	</div>
        	<div class="service-item col-md-4">
        		<img class="img-responsive hide-sm" src="{{STATIC_URL}}application/images/box.png"/>
        		<img class="img-responsive hide-lg" data-toggle="modal" data-target="#delivery" src="{{STATIC_URL}}application/images/box.png"/>
        		<h3>On-Demand Delivery</h3>
        		<p class="hide-sm">Brick & Mortar is archaic. Have everything you want, delivered wherever you are, whenever you need it.</p>
        	</div>
        </div>

        <div id="lookbook" class="row section text-center">
        	<div id="lookbook-1" class="col-md-4 lookbook-item">
        		<h3>Urban Chic</h3>
        		<button id="urban" class="btn">View Lookbook</button>
        	</div>
        	<div id="lookbook-2" class="col-md-4 lookbook-item">
        		<h3>Upscale Casual</h3>
        		<button id="upscale" class="btn">View Lookbook</button>
        	</div>
        	<div id="lookbook-3" class="col-md-4 lookbook-item">
        		<h3>Classic Conservative</h3>
        		<button id="conservative" class="btn">View Lookbook</button>
        	</div>
        </div>

        <div id="gentlemen" class="row section text-center">
        	<div class="animated fadein">
        		<div class="col-md-12 heading">
        			<h2>Our Gentlemen</h2>
        		</div>
        		<div class="col-md-4 gent-item">
        			<img class="img-responsive hide-sm" src="{{STATIC_URL}}application/images/gs.png"/>
        			<img class="img-responsive hide-lg" data-toggle="modal" data-target="#sartorialist" src="{{STATIC_URL}}application/images/gs.png"/>
        			<h3>The Sartorialist</h3>
        			<p class="hide-sm">A man about town who knows what to wear, and how to wear it. We’re here to supplement your already polished understanding of style.</p>
        		</div>
        		<div class="col-md-4 gent-item">
        			<img class="img-responsive hide-sm" src="{{STATIC_URL}}application/images/ga.png"/>
        			<img class="img-responsive hide-lg" data-toggle="modal" data-target="#journeyman" src="{{STATIC_URL}}application/images/ga.png"/>
        			<h3>The Journeyman</h3>
        			<p class="hide-sm">You’ve ridden with the fads. You’ve seen it all. A bit of disillusionment and a rougher edge here or there is expected. We’re here to bring you up to date.</p>
        		</div>
        		<div class="col-md-4 gent-item">
        			<img class="img-responsive hide-sm" src="{{STATIC_URL}}application/images/whip.png"/>
        			<img class="img-responsive hide-lg" data-toggle="modal" data-target="#whipper" src="{{STATIC_URL}}application/images/whip.png"/>
        			<h3>The Whippersnapper</h3>
        			<p class="hide-sm">Your tumblr-inspired fashion fetish is only the beginning. It’s likely that you wore pleated pants to prom. Stick with us, it can be dangerous out there.</p>
        		</div>
        	</div>
        </div>

        <div id="launch" class="row section text-center">
        	<div class="launch-item launchpad-1 col-md-4">
        		<h2>Los Angeles</h2>
                <h3>April 2015</h3>
        		<button type="button" class="btn" data-toggle="modal" data-target="#join">Join</button>
        	</div>
        	<div class="launch-item launchpad-2 col-md-4">
        		<h2>San Francisco</h2>
                <h3>June 2015</h3>
        		<button type="button" class="btn" data-toggle="modal" data-target="#join">Join</button>
        	</div>
        	<div class="launch-item launchpad-3 col-md-4">
        		<h2>New York City</h2>
                <h3>Sept 2015</h3>
        		<button type="button"class="btn" data-toggle="modal" data-target="#join">Join</button>
        	</div>
        </div>

        <div id="footer" class="row text-center">
        	<div class="social col-md-4">
        		<a href="https://angel.co/lapel"><i class="fa fa-angellist fa-2x"></i></a>
        		<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
        		<a href="http://instagram.com/lapelstyle/"><i class="fa fa-instagram fa-2x"></i></a>
        		<a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
        	</div>
        	<div id="footer-logo" class="col-md-4">
        		<img width="150px" height="150px" src="{{STATIC_URL}}application/images/lapel_black.png"/>
        	</div>

        	<div id="footer-links" class="nav-control col-md-4 hide-sm">
        		<div class="nav">
        			<ul>
        				<li><a href="https://angel.co/lapel/jobs/">JOBS</a></li>
        				<li>|</li>
        				<li>ABOUT US</li>
        				<li>|</li>
        				<li>FAQ</li>
        			</ul>
        		</div>
        	</div>
        </div>
    </div>

    <!-- MODALS -->
    <!-- Join Modal -->
<div class="modal fade" id="join" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Join Us.</h4>
            </div>
            <div class="modal-body">
                <form action="send/" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="name" class="form-control" placeholder="Full Name" aria-describedby="basic-addon2">
                        <input type="text" name="year"class="form-control" placeholder="Year Born" aria-describedby="basic-addon2">
                        <input type="text" name="residence"class="form-control" placeholder="City of Primary Residence" aria-describedby="basic-addon2">
                        <input type="text" name="method"class="form-control" placeholder="Perferred Method of Contact" aria-describedby="basic-addon2">
                        <input type="text" name="type"class="form-control" placeholder="Email or Phone" aria-describedby="basic-addon2">
                        <input type="text" name="icon"class="form-control" placeholder="Last question, one that we always ask, Who is your style icon?" aria-describedby="basic-addon2">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <!-- Wardrobe Modal -->
<div class="modal-mobile modal fade" id="wardrobe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn btn-modal text-center" data-dismiss="modal">X</button>
            <img class="img-responsive"  src="{{STATIC_URL}}application/images/closet.png"/>
            <h2 class="text-center">Wardrobe Construction</h2>
            <h4 class="item-details">Built around you and your lifestyle, we'll build or polish your entire closet.</h4>
        </div>
    </div>
</div>

<!-- Refillable Modal -->
<div class="modal modal-mobile fade" id="refillable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn btn-modal text-center" data-dismiss="modal">X</button>
            <img class="img-responsive"  src="{{STATIC_URL}}application/images/calendar.png"/>
            <h2 class="text-center">Refillables</h2>
            <h4 class="item-details">The morning routine is rough. We make it easier by delivering you all of your personal care items in one box, on your schedule.</h4>
        </div>
    </div>
</div>

<!-- Delivery Modal -->
<div class="modal modal-mobile fade" id="delivery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn btn-modal text-center" data-dismiss="modal">X</button>
            <img class="img-responsive"  src="{{STATIC_URL}}application/images/box.png"/>
            <h2 class="text-center">On-Demand Delivery</h2>
            <h4>Brick & Mortar is archaic. Have everything you want, delivered wherever you are, whenever you need it.</h4>
        </div>
    </div>
</div>

<!-- Sartorialist Modal -->
<div class="modal modal-mobile fade" id="sartorialist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn btn-modal text-center" data-dismiss="modal">X</button>
                <img class="img-responsive" src="{{STATIC_URL}}application/images/gs.png"/>
                <h2 class="text-center">The Sartorialist</h2>
                <h4>A man about town who knows what to wear, and how to wear it. We’re here to supplement your already polished understanding of style.</h4>
            </div>
        </div>
    </div>
</div>

<!-- Journeyman Modal -->
<div class="modal modal-mobile fade" id="journeyman" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn btn-modal text-center" data-dismiss="modal">X</button>
                <img class="img-responsive" src="{{STATIC_URL}}application/images/ga.png"/>
                <h2 class="text-center">The Journeyman</h2>
                <h4>You’ve ridden with the fads. You’ve seen it all. A bit of disillusionment and a rougher edge here or there is expected. We’re here to bring you up to date.</h4>
            </div>
        </div>
    </div>
</div>

<!-- Whippersnapper Modal -->
<div class="modal modal-mobile fade" id="whipper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn btn-modal text-center" data-dismiss="modal">X</button>
                <img class="img-responsive" src="{{STATIC_URL}}application/images/whip.png"/>
                <h2 class="text-center">The Whippersnapper</h2>
                <h4>Your tumblr-inspired fashion fetish is only the beginning. It’s likely that you wore pleated pants to prom. Stick with us, it can be dangerous out there.</h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
